*           text=auto
*.py        text
*.txt       text
*.csv       text
*.json      text
*.vcproj    text eol=crlf
*.sh        text eol=lf
*.jpg       binary -text diff
*.png       binary -text diff
